$Very_Dark_Magenta: hsl(300, 43%, 22%);
$Soft_Pink: hsl(304, 100%, 97%);
$Dark_Grayish_Magenta: hsl(303, 10%, 53%);
$Light_Grayish_Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

body, html {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Spartan', sans-serif;
    padding-top: 50px;
    background-image: url(images/bg-pattern-bottom-desktop.svg), url(images/bg-pattern-top-desktop.svg);
    background-position: bottom right, top left;
    background-repeat: no-repeat, no-repeat;
}

.container {
    width: 1250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

section {
    margin-bottom: 70px;
}

h1 {
    color: $Very_Dark_Magenta;
    font-weight: 700;
    font-size: 40px;
    padding-right: 150px;
    margin-bottom: 5px;
}

#intro {
    width: 500px;
}

#intro_text {
    color: $Dark_Grayish_Magenta;
    font-weight: 500;
    line-height: 27px;
}

#ratings {
    width: 600px;
}

.rating {
    background-color: $Soft_Pink;
    color: $Very_Dark_Magenta;
    font-weight: 700;
    width: 450px;
    padding: 20px 20px 20px 40px;
    margin-top: 15px;
    border-radius: 5px;
}

.last_star {
    padding-right: 25px;
}

#report_guru_rating {
    margin-left: 50px;
}

#besttech_rating {
    margin-left: 100px;
}

#reviews {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.review {
    background-color: $Very_Dark_Magenta;
    color: $White;
    width: 390px;
    height: 260px;
    border-radius: 7px;
}

.inner_review {
    width: 300px;
    margin: auto;
    padding-top: 30px;
}

#irene_review {
    margin-top: 20px;
}

#anne_review {
    margin-top: 40px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 20px;
}

.name_div {
    padding-left: 25px;
}

.name_div p {
    margin: 0px;
    margin-bottom: 3px;
}

#reviews img {
    border-radius: 90px;
    width: 60px;
}

.name {
    color: $White;
    font-weight: 700;
}

.verified {
    color: $Dark_Grayish_Magenta
}
